/* ***** common ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
}

/* ***** main ***** */

.box {
    width: calc(100% / 3 - 10px);
    margin: 5px;
}

.box-top {
    position: relative;
}

.box-top img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.img-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.box-top:hover .img-origin {
    display: none;
}

.box-top:hover .img-hover {
    display: inline-block;
}

.box-bottom {
    margin-top: 10px;
}

/* +++++ debug +++++ */

.debug.container {
    height: 1000px;
    background-color: lightgrey;
}

.debug .box {
    background-color: tomato;
    height: 560px;
}

.debug .box-top {
    background-color: blue;
    height: 500px;
}

.debug .box-bottom {
    background-color: yellow;
    height: 50px;
}