/* ***** common ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

/* ***** main ***** */

.box {
    width: calc(100% / 3 - 10px);
    margin: 5px;
}

/* *** box top *** */

.box-top {
    height: 500px;
    position: relative;
}

.box-top img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.img-hover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.box-top:hover .img-origin {
    display: none;
}

.box-top:hover .img-hover {
    display: inline-block;
}

.box-top .heart {
    font-size: 20px;
    background-color: #fff;
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    right: 0;
}

.box-top .infos {
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 20px;
}

.infos span {
    padding: 2px 5px;
}

.infos .discount {
    background-color: #EB0037;
}

.infos .sustainability {
    background-color: #00875a;
}

/* *** box bottom *** */

.box-bottom {
    margin-top: 10px;
}

.box-bottom > span {
    font-size: 14px;
}

.box-bottom h3 {
    font-size: 18px;
    text-transform: uppercase;
}

.box-bottom .price {
    color: #EB0037;
    font-weight: bold;
}

.box-bottom .old-price {
    text-decoration: line-through;
}


/* +++++ debug +++++ */

.debug.container {
    height: 1000px;
    background-color: lightgrey;
}

.debug .box {
    background-color: tomato;
    height: 560px;
}

.debug .box-top {
    background-color: blue;
}

.debug .box-top .infos {
    background-color: red;
}

.debug .box-bottom {
    background-color: yellow;
    height: 50px;
}